postgresVersion: 17

podSecurityContext: {}
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - 'ALL'
  runAsNonRoot: true
  runAsUser: 65534
  seccompProfile:
    type: 'RuntimeDefault'
domain: staging.vela.run
domaincertsecret: vela-run-staging-wildcard-cert  # TODO: use cert manager 
sentry:
  dsn: null
  environment: null
  tracesSampleRate: null
  profilesSampleRate: null
