postgresVersion: 17

podSecurityContext: {}
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - 'ALL'
  runAsNonRoot: true
  runAsUser: 65534
  seccompProfile:
    type: 'RuntimeDefault'

domain: staging.vela.run
domaincertsecret: vela-run-staging-wildcard-cert  # TODO: use cert manager 

keycloak:
  realmFile: files/realm.json

secret:
  pgmeta_crypto_key: "secret"

controller: 
  image:
    repository: simplyblock/vela-controller
    tag: latest

analytics:
  DB_HOST: database
  DB_DATABASE: logflare
  DB_DRIVER: postgresql
  DB_PORT: 5432
  DB_SCHEMA: _analytics
  LOGFLARE_NODE_HOST: 127.0.0.1
  LOGFLARE_SINGLE_TENANT: true
  LOGFLARE_SUPABASE_MODE: false
  LOGFLARE_MIN_CLUSTER_SIZE: "1"
  FEATURE_FLAG_OVERRIDE: multibackend=true
  LOGFLARE_PUBLIC_ACCESS_TOKEN: my-super-secret-api-key
  LOGFLARE_PRIVATE_ACCESS_TOKEN: your-super-secret-and-long-logflare-key-private

monitoring:
  VELA_GRAFANA_SECURITY_ADMIN_USER: admin
  VELA_GRAFANA_SECURITY_ADMIN_PASSWORD: password
  
studio:
  env:
    PLATFORM_PG_META_URL: 'http://meta:8080'
    SUPABASE_URL: 'http://kong:8000'

    SUPABASE_ANON_KEY: "UpNVntn3cDxHJpq99YMc1T1AQgQpc8kfYTuRgBiYa15BLrx8etQoXz3gZv1/u2oq"
    SUPABASE_SERVICE_KEY: "" # TODO
    OPENAI_API_KEY: "" # TODO Will eventually be removed
    AUTH_JWT_SECRET: 'secret'  # TODO
    NEXTAUTH_SECRET: 'super-long-random-nextauth-secret' # TODO

    LOGFLARE_URL: 'http://analytics:4000'

    VELA_PLATFORM_KEYCLOAK_ISSUER: 'http://staging.vela.run/auth/realms/vela'
    VELA_PLATFORM_KEYCLOAK_CLIENT_ID: 'frontend'
    VELA_PLATFORM_KEYCLOAK_CLIENT_SECRET: 'super-long-random-keycloak-secret'
    VELA_PLATFORM_KEYCLOAK_AUTHORIZATION_ENDPOINT: 'http://staging.vela.run/auth/realms/vela/protocol/openid-connect/auth'
    VELA_PLATFORM_KEYCLOAK_TOKEN_ENDPOINT: 'http://auth:8080/auth/realms/vela/protocol/openid-connect/token'
    VELA_PLATFORM_KEYCLOAK_USERINFO_ENDPOINT: 'http://auth:8080/auth/realms/vela/protocol/openid-connect/userinfo'
    VELA_PLATFORM_KEYCLOAK_LOGOUT_ENDPOINT: 'http://auth:8080/auth/protocol/openid-connect/logout'
    VELA_PLATFORM_KEYCLOAK_JWKS_ENDPOINT: 'http://auth:8080/auth/realms/vela/protocol/openid-connect/certs'
    VELA_PLATFORM_EXT_SIGN_IN_URL: 'http://staging.vela.run/sign-in'
    VELA_PLATFORM_EXT_BASE_URL: 'http://staging.vela.run/'
    VELA_PLATFORM_EXT_API_SERVICE_URL: 'http://staging.vela.run/api'

    VELA_PLATFORM_URL: 'http://vela-controller-service:8000'
