postgresVersion: 17

podSecurityContext: {}
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - 'ALL'
  runAsNonRoot: true
  runAsUser: 65534
  seccompProfile:
    type: 'RuntimeDefault'

domain: staging.vela.run
domaincertsecret: vela-run-staging-wildcard-cert  # TODO: use cert manager 

keycloak:
  realmFile: files/realm.json

secret:
  pgmeta_crypto_key: "secret"

analytics:
  DB_HOST: database
  DB_DATABASE: logflare
  DB_DRIVER: postgresql
  DB_PORT: 5432
  DB_SCHEMA: _analytics
  LOGFLARE_NODE_HOST: 127.0.0.1
  LOGFLARE_SINGLE_TENANT: true
  LOGFLARE_SUPABASE_MODE: false
  LOGFLARE_MIN_CLUSTER_SIZE: "1"
  FEATURE_FLAG_OVERRIDE: multibackend=true
  LOGFLARE_PUBLIC_ACCESS_TOKEN: my-super-secret-api-key
  LOGFLARE_PRIVATE_ACCESS_TOKEN: your-super-secret-and-long-logflare-key-private

monitoring:
  VELA_GRAFANA_SECURITY_ADMIN_USER: admin
  VELA_GRAFANA_SECURITY_ADMIN_PASSWORD: password
  
studio:
  env:
    STUDIO_PG_META_URL: http://meta:8080
    POSTGRES_PASSWORD: ""
    OPENAI_API_KEY: ""
    SUPABASE_URL: http://kong:8000
    SUPABASE_SERVICE_KEY: ""
    LOGFLARE_URL: http://analytics:4000
    NEXT_PUBLIC_ENABLE_LOGS: "true"
    NEXT_ANALYTICS_BACKEND_PROVIDER: postgres
    NEXT_PUBLIC_API_URL: ""
    NEXT_PUBLIC_GOTRUE_URL: 'http://vela-auth-service:8080'
    NEXT_PUBLIC_IS_PLATFORM: 'true'
    PUBLIC_PLATFORM: 'vela'
    VELA_PLATFORM_GOTRUE_URL: 'http://vela-auth-service:8080'
    VELA_PLATFORM_URL: 'http://vela-controller-service:8000'
    PLATFORM_PG_META_URL: 'http://localhost:8080/meta'
    AUTH_JWT_SECRET: 'secret'  # TODO
    SUPABASE_ANON_KEY: 'UpNVntn3cDxHJpq99YMc1T1AQgQpc8kfYTuRgBiYa15BLrx8etQoXz3gZv1/u2oq'
    SUPABASE_PUBLIC_URL: 'http://staging.vela.run'
    LOGFLARE_PRIVATE_ACCESS_TOKEN: 'your-super-secret-and-long-logflare-key-private'
    IS_THROTTLED: 'false'
