database:
  postgresVersion: "17"
  replicas: 3

podSecurityContext:
  runAsNonRoot: false
  seccompProfile:
    type: 'RuntimeDefault'
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - 'ALL'
  runAsNonRoot: false
  seccompProfile:
    type: 'RuntimeDefault'

domain: demo.vela.run
port: 443

keycloak:
  realmFile: files/realm.json

controller: 
  image:
    repository: docker.io/simplyblock/vela-controller
    tag: latest
  env:
    VELA_ROOT_PATH: '/vela'
    VELA_CORS_ORIGINS: '[""]'
    VELA_PGMETA_CRYPTO_KEY: 'secret'
    VELA_KEYCLOAK_ADMIN_NAME: ''
    VELA_KEYCLOAK_ADMIN_SECRET: ''
    VELA_CLOUDFLARE_API_TOKEN: 'your_cloudflare_api_token'
    VELA_CLOUDFLARE_ZONE_ID: 'your_cloudflare_zone_id'
    VELA_DEPLOYMENT_NAMESPACE_PREFIX: 'vela'
    VELA_BRANCH_REF: 'demo-ref.vela.run'
    VELA_BRANCH_DB_REF: 'demo-dbref.vela.run'
    VELA_KEYCLOAK_URL: 'http://vela-auth-service:8080/auth/'
    VELA_JWT_SECRET: 'http://vela-auth-service:8080/auth/realms/vela/protocol/openid-connect/certs'
    VELA_GRAFANA_URL: 'http://vela-grafana:3000'
    VELA_ENABLE_DB_EXTERNAL_IPV6_LOADBALANCER: 'true'
    VELA_SYSTEM_LIMIT_MILLIS_VCPU: '100000'
    VELA_SYSTEM_LIMIT_RAM: '274877906944'
    VELA_SYSTEM_LIMIT_IOPS: '1000000000'
    VELA_SYSTEM_LIMIT_DATABASE_SIZE: '100000000000000'
    VELA_SYSTEM_LIMIT_STORAGE_SIZE: '1000000000000'
    VELA_RESOURCE_MONITOR_INTERVAL: '30'

secret:
  pgmeta_crypto_key: "secret"

gateway:
  name: vela-public-gateway
  namespace: kong-system

issuer: ca-issuer

prometheus:
  name: kube-prometheus-stack-prometheus
  namespace: monitoring

monitoring:
  VELA_GRAFANA_SECURITY_ADMIN_USER: admin
  VELA_GRAFANA_SECURITY_ADMIN_PASSWORD: password
  
studio:
  enabled: true
  image:
    repository: docker.io/simplyblock/vela-studio
    tag: latest
  env:
    PLATFORM_PG_META_URL: 'http://meta:8080'
    SUPABASE_ANON_KEY: "UpNVntn3cDxHJpq99YMc1T1AQgQpc8kfYTuRgBiYa15BLrx8etQoXz3gZv1/u2oq"
    SUPABASE_SERVICE_KEY: "" # TODO
    OPENAI_API_KEY: "" # TODO Will eventually be removed
    AUTH_JWT_SECRET: 'secret'  # TODO
    NEXTAUTH_SECRET: 'super-long-random-nextauth-secret' # TODO
    VELA_PLATFORM_KEYCLOAK_CLIENT_ID: 'frontend'
    VELA_PLATFORM_KEYCLOAK_CLIENT_SECRET: 'client-secret' # generate this and match it with realm.json

vector:
  enabled: true
  useHostPath: true

loki:
  name: loki
  namespace: loki
