postgresVersion: 17

podSecurityContext: {}
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - 'ALL'
  runAsNonRoot: true
  runAsUser: 65534
  seccompProfile:
    type: 'RuntimeDefault'
domain: kernel-labs.org
domaincertsecret: wildcard-cert  # TODO: use cert manager 
