version: '3.9'
services:
  db:
    container_name: vela-db
    image: docker.io/supabase/postgres:15.1.0.147
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      JWT_SECRET: ${VELA_JWT_SECRET}
      JWT_EXP: '3600'
    volumes:
    - /mnt/postgres_data/pgdata:/var/lib/postgresql/data
    - ./pg_hba.conf:/etc/postgresql/pg_hba.conf:ro,z
    networks:
    - vela
    ports:
    - 5432:5432
  pgexporter:
    container_name: vela-pgexporter
    image: prometheuscommunity/postgres-exporter:v0.17.1
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres@db:5432/demo?sslmode=disable"
    ports:
    - 9187:9187
  rest:
    container_name: vela-rest
    image: docker.io/postgrest/postgrest:v12.0.1
    depends_on:
    - db
    restart: unless-stopped
    environment:
      DB_HOST: db
      DB_PORT: '5432'
      DB_NAME: ${POSTGRES_DB}
      DB_USER: authenticator
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_DRIVER: postgres
      DB_SSL: disable
      PGRST_DB_SCHEMAS: public,storage,graphql_public
      PGRST_DB_USE_LEGACY_GUCS: 'false'
      PGRST_APP_SETTINGS_JWT_EXP: '3600'
      PGRST_JWT_SECRET: ${VELA_JWT_SECRET}
      PGRST_APP_SETTINGS_JWT_SECRET: ${VELA_JWT_SECRET}
    ports:
    - 3000:3000
    networks:
    - vela
  pgbouncer:
    container_name: vela-pgbouncer
    image: docker.io/edoburu/pgbouncer:v1.24.1-p1
    volumes:
      - ./:/etc/pgbouncer:Z
    depends_on:
    - db
    restart: unless-stopped
    command:
    - /bin/sh
    - -c
    - |
        set -eu
        exec pgbouncer /etc/pgbouncer/pgbouncer.ini
    ports:
      - 6432:5432
    networks:
      - vela

  meta:
    image: docker.io/supabase/postgres-meta:v0.91.1
    depends_on:
    - db
    restart: unless-stopped
    environment:
      PG_META_PORT: 8080
      PG_META_DB_HOST: db
      PG_META_DB_PORT: "5432"
      PG_META_DB_NAME: ${POSTGRES_DB}
      PG_META_DB_USER: supabase_admin
      PG_META_DB_PASSWORD: ${POSTGRES_PASSWORD}
      PG_META_DB_DRIVER: postgres
      PG_META_DB_SSL_MODE: disable
      PG_META_DB_URL: '' # DB URI is decrypted from x-connection-encrypted header
      CRYPTO_KEY: ${PGMETA_CRYPTO_KEY}
    ports:
    - 8080:8080
    networks:
    - vela
  storage:
    container_name: vela-storage
    image: docker.io/supabase/storage-api:v0.46.4
    depends_on:
    - db
    - rest
    restart: unless-stopped
    environment:
      DB_HOST: db
      DB_PORT: '5432'
      DB_NAME: ${POSTGRES_DB}
      DB_USER: supabase_storage_admin
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_DRIVER: postgres
      DB_SSL: disable
      FILE_SIZE_LIMIT: '52428800'
      STORAGE_BACKEND: file
      PGOPTIONS: -c search_path=storage,public
      FILE_STORAGE_BACKEND_PATH: /var/lib/storage
      TENANT_ID: stub
      REGION: stub
      GLOBAL_S3_BUCKET: stub
      PGRST_JWT_SECRET: ${VELA_JWT_SECRET}
      ANON_KEY: ${VELA_ANON_KEY}
      SERVICE_KEY: ${VELA_SERVICE_KEY}
      POSTGREST_URL: http://rest:3000
    volumes:
    - /mnt/postgres_data/storage:/var/lib/storage
    ports:
    - 5000:5000
    networks:
    - vela
  vector:
    container_name: vela-vector
    image: timberio/vector:0.28.1-alpine
    restart: unless-stopped
    volumes:
    - ./vector.yml:/etc/vector/vector.yml:ro,z
    - /var/run/podman/podman.sock:/var/run/docker.sock:ro,z
    healthcheck:
      test:
      - CMD
      - wget
      - --no-verbose
      - --tries=1
      - --spider
      - http://vector:9001/health
      timeout: 5s
      interval: 5s
      retries: 3
    environment:
      LOGFLARE_PUBLIC_ACCESS_TOKEN: ${LOGFLARE_PUBLIC_ACCESS_TOKEN}
      VELA_BRANCH: ${VELA_BRANCH}
      NAMESPACE: ${NAMESPACE}
    command:
    - --config
    - /etc/vector/vector.yml
    ports:
    - 9001:9001
    networks:
    - vela
networks:
  vela:
    driver: bridge
    ipam:
      config:
        - subnet: 10.89.0.0/24
          gateway: 10.89.0.1
