version: '3.9'
services:
  db:
    container_name: vela-db
    image: docker.io/supabase/postgres:15.1.0.147
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXP: '3600'
    volumes:
    - /mnt/postgres_data/pgdata:/var/lib/postgresql/data
    - ./pg_hba.conf:/etc/postgresql/pg_hba.conf:ro,z
    networks:
    - vela
    ports:
    - 5432:5432
    logging:
      driver: k8s-file
      options:
        max-size: 25m
        max-file: "1"
  pgexporter:
    container_name: vela-pgexporter
    image: prometheuscommunity/postgres-exporter:v0.17.1
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres@db:5432/demo?sslmode=disable"
    ports:
    - 9187:9187
    logging:
      driver: k8s-file
      options:
        max-size: 25m
        max-file: "1"
  pgbouncer:
    container_name: vela-pgbouncer
    image: docker.io/edoburu/pgbouncer:v1.24.1-p1
    volumes:
      - ./:/etc/pgbouncer:Z
    depends_on:
    - db
    restart: unless-stopped
    command:
    - /bin/sh
    - -c
    - |
        set -eu
        exec pgbouncer /etc/pgbouncer/pgbouncer.ini
    ports:
      - 6432:5432
    networks:
      - vela
    logging:
      driver: k8s-file
      options:
        max-size: 25m
        max-file: "1"

  vector:
    container_name: vela-vector
    image: timberio/vector:0.28.1-alpine
    restart: unless-stopped
    volumes:
    - ./vector.yml:/etc/vector/vector.yml:ro,z
    - /run/podman/podman.sock:/var/run/docker.sock:ro,z
    healthcheck:
      test:
      - CMD
      - wget
      - --no-verbose
      - --tries=1
      - --spider
      - http://vector:9001/health
      timeout: 5s
      interval: 5s
      retries: 3
    environment:
      LOGFLARE_PUBLIC_ACCESS_TOKEN: ${ANALYTICS_APIKEY}
      VELA_BRANCH: ${ANALYTICS_BRANCH}
      NAMESPACE: ${ANALYTICS_NAMESPACE}
    command:
    - --config
    - /etc/vector/vector.yml
    ports:
    - 9001:9001
    networks:
    - vela
    logging:
      driver: k8s-file
      options:
        max-size: 25m
        max-file: "1"
networks:
  vela:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.50.0/24
          gateway: 192.168.50.1
