{{- if and .Values.autoscalerVm.enabled .Values.composeYaml }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "vela.autoscaler.composeConfigName" . }}
  labels:
    {{- include "vela.labels" . | nindent 4 }}
data:
  vector.yml: |
{{- .Values.vectorYaml | nindent 4 }}
  docker-compose.yml: |
{{- .Values.composeYaml | nindent 4 }}
  pg_hba.conf: |-
{{- .Values.pgHbaConf | nindent 4 }}
  {{- if .Values.pgbouncer.enabled }}
  {{- $dbPassword := required "Values.secret.db.password is required when PgBouncer is enabled" .Values.secret.db.password }}
  {{- $pgbouncerAdminPassword := required "Values.secret.pgbouncer.admin_password is required when PgBouncer is enabled" .Values.secret.pgbouncer.admin_password }}
  {{- $pgbouncerConfig := .Values.pgbouncer.config | default (dict) }}
  namespace: {{ .Release.Namespace }}
  pgbouncer.ini: |
    [databases]
    postgres = host=db port=5432 user=postgres password={{ $dbPassword | quote }}

    [pgbouncer]
    listen_addr = 0.0.0.0
    listen_port = 5432
    auth_type = plain
    auth_file = /etc/pgbouncer/users.txt
    pool_mode = transaction
    max_client_conn = {{ $pgbouncerConfig.max_client_conn | default 100 }}
    default_pool_size = {{ $pgbouncerConfig.default_pool_size | default 20 }}
    reserve_pool_size = {{ $pgbouncerConfig.reserve_pool_size | default 0 }}
    query_wait_timeout = {{ $pgbouncerConfig.query_wait_timeout | default 30 }}
    server_idle_timeout = {{ $pgbouncerConfig.server_idle_timeout | default 60 }}
    server_lifetime = {{ $pgbouncerConfig.server_lifetime | default 600 }}
    log_connections = 1
    log_disconnections = 1
    admin_users = pgbouncer_admin
    stats_users = pgbouncer_admin
  users.txt: |
    "postgres" {{ $dbPassword | quote }}
    "pgbouncer_admin" {{ $pgbouncerAdminPassword | quote }}
  {{- end }}
{{- end }}
