{{- $dbName := printf "%s-db" (include "vela.fullname" .) -}}
{{- $serviceCfg := .Values.db.service | default (dict) -}}
{{- $externalSvcEnabled := true -}}
{{- if hasKey $serviceCfg "externalEnabled" }}
{{- $externalSvcEnabled = (index $serviceCfg "externalEnabled") -}}
{{- end }}
{{- $lbIpFamilies := (index $serviceCfg "ipFamilies") | default (list "IPv6") -}}
{{- $lbIpPolicy := (index $serviceCfg "ipFamilyPolicy") | default "SingleStack" -}}
{{- $clusterCfg := (index $serviceCfg "clusterIP") | default (dict) -}}
{{- $clusterIpFamilies := (index $clusterCfg "ipFamilies") | default (list "IPv4") -}}
{{- $clusterIpPolicy := (index $clusterCfg "ipFamilyPolicy") | default "SingleStack" -}}
{{- if $externalSvcEnabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-ext" $dbName }}
  labels:
    {{- include "vela.labels" . | nindent 4 }}
spec:
  type: {{ default "LoadBalancer" (index $serviceCfg "type") }}
  {{- if $lbIpFamilies }}
  ipFamilies:
{{ toYaml $lbIpFamilies | indent 4 }}
  {{- end }}
  ipFamilyPolicy: {{ $lbIpPolicy }}
  ports:
    - port: {{ default 5432 (index $serviceCfg "port") }}
      targetPort: 5432
      protocol: TCP
      name: postgres
---
{{- end }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $dbName }}
  labels:
    {{- include "vela.labels" . | nindent 4 }}
spec:
  type: NodePort
  {{- if $clusterIpFamilies }}
  ipFamilies:
{{ toYaml $clusterIpFamilies | indent 4 }}
  {{- end }}
  ipFamilyPolicy: {{ $clusterIpPolicy }}
  ports:
    - port: {{ default 5432 (index $serviceCfg "port") }}
      targetPort: 5432
      protocol: TCP
      name: postgres
