{{- if .Values.autoscalerVm.enabled -}}
{{- $vmName := "" -}}
{{- if .Values.autoscalerVm.fullnameOverride }}
{{- $vmName = .Values.autoscalerVm.fullnameOverride | trunc 63 | trimSuffix "-" }}
{{- else if .Values.autoscalerVm.nameOverride }}
{{- $override := .Values.autoscalerVm.nameOverride }}
{{- if contains $override .Release.Name }}
{{- $vmName = .Release.Name | trunc 63 | trimSuffix "-" }}
{{- else }}
{{- $vmName = printf "%s-%s" .Release.Name $override | trunc 63 | trimSuffix "-" }}
{{- end }}
{{- else }}
{{- $vmName = printf "%s-autoscaler-vm" (include "vela.fullname" .) | trunc 63 | trimSuffix "-" }}
{{- end }}
{{- $pvcName := default (printf "%s-block-data" $vmName) .Values.autoscalerVm.persistence.claimName -}}
apiVersion: vm.neon.tech/v1
kind: VirtualMachine
metadata:
  name: {{ $vmName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vela.labels" . | nindent 4 }}
    autoscaling.neon.tech/enabled: "true"
spec:
  powerState: {{ .Values.autoscalerVm.powerState }}
  extraNetwork:
    enable: {{ .Values.autoscalerVm.extraNetwork.enable }}
  guest:
    rootDisk:
      image: {{ printf "%s:%s" .Values.autoscalerVm.image.repository .Values.autoscalerVm.image.tag }}
      size: 4G
    cpus:
      min: {{ .Values.autoscalerVm.resources.cpus.min }}
      use: {{ .Values.autoscalerVm.resources.cpus.use }}
      max: {{ .Values.autoscalerVm.resources.cpus.max }}
    memorySlots:
      min: {{ .Values.autoscalerVm.resources.memorySlots.min }}
      use: {{ .Values.autoscalerVm.resources.memorySlots.use }}
      max: {{ .Values.autoscalerVm.resources.memorySlots.max }}
      limit: {{ .Values.autoscalerVm.resources.memorySlots.limit }}
    memorySlotSize: {{ .Values.autoscalerVm.resources.memorySlotSize }}
    ports:
    - name: postgres
      port: 5432
      protocol: TCP
    - name: pgexporter
      port: 9187
      protocol: TCP
    - name: rest
      port: 3000
      protocol: TCP
    - name: pgbouncer
      port: 6432
      protocol: TCP
    - name: meta
      port: 8080
      protocol: TCP
    - name: storageapi
      port: 5000
      protocol: TCP
    - name: vector
      port: 9001
      protocol: TCP
    - name: metrics
      port: 9100
      protocol: TCP
    - name: monitor
      port: 10301
      protocol: TCP
  schedulerName: autoscale-scheduler
  disks:
    - name: data
      mountPath: {{ .Values.autoscalerVm.mountPath }}
      blockDevice:
        persistentVolumeClaim:
          claimName: {{ $pvcName }}
    - name: compose
      mountPath: "/vela/"
      configMap:
        name: {{ include "vela.db.fullname" . }}-compose
        items:
        - key: docker-compose.yml
          path: compose.yaml
        - key: vector.yml
          path: vector.yml
        - key: pg_hba.conf
          path: pg_hba.conf
        - key: namespace
          path: namespace
        - key: pgbouncer.ini
          path: pgbouncer.ini
        - key: users.txt
          path: users.txt
{{- end }}
