{{- if .Values.autoscalerVm.enabled -}}
{{- $vmName := "" -}}
{{- if .Values.autoscalerVm.fullnameOverride }}
{{- $vmName = .Values.autoscalerVm.fullnameOverride | trunc 63 | trimSuffix "-" }}
{{- else if .Values.autoscalerVm.nameOverride }}
{{- $override := .Values.autoscalerVm.nameOverride }}
{{- if contains $override .Release.Name }}
{{- $vmName = .Release.Name | trunc 63 | trimSuffix "-" }}
{{- else }}
{{- $vmName = printf "%s-%s" .Release.Name $override | trunc 63 | trimSuffix "-" }}
{{- end }}
{{- else }}
{{- $vmName = printf "%s-autoscaler-vm" (include "vela.fullname" .) | trunc 63 | trimSuffix "-" }}
{{- end }}
{{- $pvcName := default (printf "%s-block-data" $vmName) .Values.autoscalerVm.persistence.claimName -}}
{{- $pgWal := (coalesce .Values.pg_wal .Values.walArchive) | default (dict) -}}
{{- $pgWalPersistence := $pgWal.persistence | default (dict) -}}
apiVersion: vm.neon.tech/v1
kind: VirtualMachine
metadata:
  name: {{ $vmName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vela.labels" . | nindent 4 }}
    autoscaling.neon.tech/enabled: "true"
spec:
  powerState: {{ .Values.autoscalerVm.powerState }}
  extraNetwork:
    enable: {{ .Values.autoscalerVm.extraNetwork.enable }}
  guest:
    rootDisk:
      image: {{ printf "%s:%s" .Values.autoscalerVm.image.repository .Values.autoscalerVm.image.tag | quote }}
      size: 4G
      imagePullPolicy: Always
    cpus:
      min: {{ .Values.autoscalerVm.resources.cpus.min }}
      use: {{ .Values.autoscalerVm.resources.cpus.use }}
      max: {{ .Values.autoscalerVm.resources.cpus.max }}
    memorySlots:
      min: {{ .Values.autoscalerVm.resources.memorySlots.min }}
      use: {{ .Values.autoscalerVm.resources.memorySlots.use }}
      max: {{ .Values.autoscalerVm.resources.memorySlots.max }}
      limit: {{ .Values.autoscalerVm.resources.memorySlots.limit }}
    memorySlotSize: {{ .Values.autoscalerVm.resources.memorySlotSize }}
    {{- if .Values.storage.enabled }}
    env:
      - name: ENABLE_STORAGE
        value: "1"
    {{- end }}
    ports:
    - name: postgres
      port: 5432
      protocol: TCP
    - name: pgexporter
      port: 9187
      protocol: TCP
    - name: pgexporter2
      port: 9127
      protocol: TCP
    - name: rest
      port: 3000
      protocol: TCP
    - name: pgbouncer
      port: 6432
      protocol: TCP
    - name: meta
      port: 8080
      protocol: TCP
    {{- if .Values.storage.enabled }}
    - name: storageapi
      port: 5000
      protocol: TCP
    {{- end }}
    - name: vector
      port: 9001
      protocol: TCP
    - name: metrics
      port: 9100
      protocol: TCP
    - name: monitor
      port: 10301
      protocol: TCP
  schedulerName: autoscale-scheduler
  disks:
    - name: data
      mountPath: {{ .Values.autoscalerVm.mountPath }}
      blockDevice:
        persistentVolumeClaim:
          claimName: {{ $pvcName }}
    {{- if ($pgWal.enabled | default false) }}
    - name: wal
      mountPath: {{ $pgWal.mountPath | quote }}
      blockDevice:
        persistentVolumeClaim:
          claimName: {{ default (printf "%s-pg-wal" $vmName) ($pgWalPersistence.claimName | default "") }}
    {{- end }}
    {{- if .Values.storage.enabled }}
    - name: storage
      mountPath: "/mnt/storage"
      blockDevice:
        persistentVolumeClaim:
          claimName: {{ include "vela.autoscaler.name" . }}-storage-pvc
    {{- end }}
    - name: compose
      mountPath: "/vela/config"
      configMap:
        name: {{ include "vela.autoscaler.composeConfigName" . }}
    - name: vela-migrations
      mountPath: "/vela/migrations"
      configMap:
        name: "migrations"
    - name: vela-db-secret
      mountPath: "/vela/secrets/db"
      secret:
        secretName: {{ include "vela.secret.db" . }}
    - name: vela-jwt-secret
      mountPath: "/vela/secrets/jwt"
      secret:
        secretName: {{ include "vela.secret.jwt" . }}
    - name: vela-analytics-secret
      mountPath: "/vela/secrets/analytics"
      secret:
        secretName: {{ include "vela.secret.analytics" . }}
{{- end }}
