apiVersion: apps/v1
kind: Deployment
metadata:
  name: vela-auth
  labels:
    app.kubernetes.io/name: vela-auth
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: vela-auth
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vela-auth
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: vela-auth
          image: quay.io/keycloak/keycloak:latest
          imagePullPolicy: IfNotPresent
          args:
            - "start-dev"
            - "--import-realm"
            - "--https-port=8443"
            - "--https-certificate-file=/etc/x509/https/tls.crt"
            - "--https-certificate-key-file=/etc/x509/https/tls.key"
          ports:
            - name: https
              containerPort: 8443
              protocol: TCP
          envFrom:
            - configMapRef:
                name: vela-auth-config
          volumeMounts:
            - name: init-realm
              mountPath: /opt/keycloak/data/import/vela-realm.json
              subPath: realm.json
            # Needed for read-only root file system
            # https://github.com/keycloak/keycloak/issues/11286#issuecomment-1911732639
            - name: workspace
              mountPath: /opt
              subPath: opt
            - name: workspace
              mountPath: /tmp
              subPath: tmp
            - name: tls-certs
              mountPath: /etc/x509/https
              readOnly: true
          startupProbe:
            httpGet:
              path: /auth/health/started
              port: 9000
            periodSeconds: 1
            failureThreshold: 600
          readinessProbe:
            httpGet:
              path: /auth/health/ready
              port: 9000
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /auth/health/live
              port: 9000
            periodSeconds: 10
            failureThreshold: 3
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      initContainers:
        - name: init-vela-auth
          image: postgres:{{ .Values.postgresVersion }}
          command: ['psql']
          args: ['-f', '/etc/init.sql']
          volumeMounts:
            - name: init-sql
              mountPath: /etc/init.sql
              subPath: init.sql
              readOnly: true
          env:
            - name: PGHOST
              value: 'database'
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: database
                  key: superuser-username
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: database
                  key: superuser-password
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        - name: copy-opt
          image: quay.io/keycloak/keycloak:latest
          imagePullPolicy: IfNotPresent
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
              - ALL
          command: ["sh", "-c"]
          args:
            - "mkdir -p /tmp/opt/keycloak && cp -R /opt/keycloak/* /tmp/opt/keycloak/"
          volumeMounts:
            - name: workspace
              mountPath: /tmp/opt
              subPath: opt
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: tls-certs
          secret:
            secretName: vela-auth-tls
        - name: init-sql
          configMap:
            name: vela-auth-config
        - name: init-realm
          configMap:
            name: vela-auth-config
        - name: workspace
          emptyDir: {}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vela-auth-config
data:
  KC_BOOTSTRAP_ADMIN_USERNAME: admin
  KC_BOOTSTRAP_ADMIN_PASSWORD: admin
  KC_DB: postgres
  KC_DB_URL: jdbc:postgresql://database:5432/keycloak
  KC_DB_USERNAME: keycloak
  KC_DB_PASSWORD: keycloak
  KC_PROXY: edge
  KC_HOSTNAME: http://{{ .Values.host }}/auth
  KC_HTTP_RELATIVE_PATH: /auth
  KC_HEALTH_ENABLED: 'true'
  init.sql: |
    CREATE USER keycloak WITH PASSWORD 'keycloak';
    CREATE DATABASE keycloak OWNER keycloak;
    GRANT ALL PRIVILEGES ON DATABASE keycloak TO keycloak;
    ALTER ROLE keycloak SET search_path TO keycloak,public;
  realm.json: |
    {
      "id": "vela",
      "realm": "vela",
      "enabled": true,
      "registrationAllowed": true,
      "registrationEmailAsUsername": true,
      "verifyEmail": true,
      "users": [
        {
          "username": "testuser",
          "enabled": true,
          "email": "testuser@example.com",
          "firstName": "Test",
          "lastName": "User",
          "emailVerified": true,
          "credentials": [
            {
              "type": "password",
              "value": "testpassword",
              "temporary": false
            }
          ]
        },
        {
          "username": "service-account-controller",
          "emailVerified": false,
          "enabled": true,
          "serviceAccountClientId": "controller",
          "realmRoles": [
            "default-roles-vela"
          ],
          "clientRoles": {
            "realm-management": [
              "manage-users",
              "query-users",
              "view-users"
            ]
          }
        }
      ],
      "clients": [
        {
          "clientId": "frontend",
          "name": "Frontend Application",
          "enabled": true,
          "redirectUris": [
            "http://{{ .Values.host }}/*"
          ],
          "webOrigins": [
            "http://{{ .Values.host }}"
          ],
          "standardFlowEnabled": true,
          "directAccessGrantsEnabled": true,
          "publicClient": false,
          "secret": "client-secret",
          "protocol": "openid-connect"
        },
        {
          "clientId": "controller",
          "name": "Vela controller",
          "enabled": true,
          "redirectUris": [
            "http://{{ .Values.host }}/*"
          ],
          "webOrigins": [
            "http://{{ .Values.host }}"
          ],
          "standardFlowEnabled": true,
          "directAccessGrantsEnabled": true,
          "publicClient": false,
          "secret": "controller-secret",
          "protocol": "openid-connect",
          "serviceAccountsEnabled": true,
          "defaultClientScopes": [
            "service_account",
            "web-origins",
            "acr",
            "roles",
            "profile",
            "basic",
            "email"
          ]
        }
      ]
    }

---
apiVersion: v1
kind: Service
metadata:
  name: vela-auth-service
spec:
  selector:
    app.kubernetes.io/name: vela-auth
  ports:
    - name: https
      port: 8443
      targetPort: 8443
      protocol: TCP

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: vela-auth
spec:
  parentRefs:
    - name: {{ .Values.gateway.name }}
      namespace: {{ .Values.gateway.namespace }}
  hostnames:
    - "{{ .Values.domain }}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /auth
      backendRefs:
        - name: vela-auth-service
          namespace: {{ .Release.Namespace }}
          port: 8080

          