apiVersion: apps/v1
kind: Deployment
metadata:
  name: vela-auth
  labels:
    app.kubernetes.io/name: vela-auth
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: vela-auth
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vela-auth
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: vela-auth
          image: quay.io/keycloak/keycloak:26.4
          imagePullPolicy: IfNotPresent
          args:
            - "start-dev" # TODO: use `start`` for prod
            - "--import-realm"
            - "--http-enabled=true"
            - "--http-port=8080"
            - "--https-port=8443"
            - "--https-certificate-file=/etc/x509/https/tls.crt"
            - "--https-certificate-key-file=/etc/x509/https/tls.key"
          ports:
            - name: https
              containerPort: 8443
              protocol: TCP
            - name: http
              containerPort: 8080
              protocol: TCP
          envFrom:
            - configMapRef:
                name: vela-auth-config
          volumeMounts:
            - name: init-realm
              mountPath: /opt/keycloak/data/import/vela-realm.json
              subPath: realm.json
            # Needed for read-only root file system
            # https://github.com/keycloak/keycloak/issues/11286#issuecomment-1911732639
            - name: workspace
              mountPath: /opt
              subPath: opt
            - name: workspace
              mountPath: /tmp
              subPath: tmp
            - name: tls-certs
              mountPath: /etc/x509/https
              readOnly: true
          startupProbe:
            httpGet:
              path: /auth/health/started
              port: 9000
              scheme: HTTPS
            periodSeconds: 1
            failureThreshold: 600
          readinessProbe:
            httpGet:
              path: /auth/health/ready
              port: 9000
              scheme: HTTPS
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /auth/health/live
              port: 9000
              scheme: HTTPS
            periodSeconds: 10
            failureThreshold: 3
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      initContainers:
{{ include "vela.waitForPostgresInitContainer" (dict "securityContext" .Values.securityContext) | nindent 8 }}
        - name: init-vela-auth
          image: postgres:17-alpine
          command: ['psql']
          args: ['-f', '/etc/init.sql']
          volumeMounts:
            - name: init-sql
              mountPath: /etc/init.sql
              subPath: init.sql
              readOnly: true
          env:
            - name: PGHOST
              value: 'database'
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: database
                  key: superuser-username
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: database
                  key: superuser-password
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        - name: copy-opt
          image: quay.io/keycloak/keycloak:latest
          imagePullPolicy: IfNotPresent
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
              - ALL
          command: ["sh", "-c"]
          args:
            - "mkdir -p /tmp/opt/keycloak && cp -R /opt/keycloak/* /tmp/opt/keycloak/"
          volumeMounts:
            - name: workspace
              mountPath: /tmp/opt
              subPath: opt
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: tls-certs
          secret:
            secretName: {{ .Release.Name }}-tls-auth-secret
        - name: init-sql
          configMap:
            name: vela-auth-config
        - name: init-realm
          configMap:
            name: vela-auth-config
        - name: workspace
          emptyDir: {}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vela-auth-config
data:
  KC_BOOTSTRAP_ADMIN_USERNAME: admin
  KC_BOOTSTRAP_ADMIN_PASSWORD: admin
  KC_DB: postgres
  KC_DB_URL: jdbc:postgresql://database:5432/keycloak
  KC_DB_USERNAME: keycloak
  KC_DB_PASSWORD: keycloak
  KC_PROXY: edge
  KC_HOSTNAME: https://{{ .Values.domain }}:30336/auth
  KC_HTTP_RELATIVE_PATH: /auth
  KC_HEALTH_ENABLED: "true"
  init.sql: |
    CREATE USER keycloak WITH PASSWORD 'keycloak';
    CREATE DATABASE keycloak OWNER keycloak;
    GRANT ALL PRIVILEGES ON DATABASE keycloak TO keycloak;
    ALTER ROLE keycloak SET search_path TO keycloak,public;
  realm.json: |- 
    {{ .Files.Get .Values.keycloak.realmFile | nindent 4 }}

---
apiVersion: v1
kind: Service
metadata:
  name: vela-auth-service
spec:
  selector:
    app.kubernetes.io/name: vela-auth
  ports:
    - name: https
      port: 8443
      targetPort: 8443
      protocol: TCP
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: vela-auth
spec:
  parentRefs:
    - name: {{ .Values.gateway.name }}
      namespace: {{ .Values.gateway.namespace }}
  hostnames:
    - "{{ .Values.domain }}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /auth
      backendRefs:
        - name: vela-auth-service
          namespace: {{ .Release.Namespace }}
          port: 8080
          
