apiVersion: v1
kind: Pod
metadata:
  name: vela-controller
  labels:
    app.kubernetes.io/name: vela-controller
spec:
  containers:
    - name: vela-controller
      image: simplyblock/vela-controller:latest
      imagePullPolicy: Always
      ports:
        - name: http
          containerPort: 8000
          protocol: TCP
      envFrom:
        - configMapRef:
            name: vela-controller-config
      env:
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: database
              key: superuser-username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database
              key: superuser-password
        - name: VELA_POSTGRES_URL
          value: 'postgresql+asyncpg://$(DB_USER):$(DB_PASSWORD)@database:5432/postgres'
      livenessProbe:
        httpGet:
          path: /health
          port: http
        periodSeconds: 5
        timeoutSeconds: 5
        failureThreshold: 3
      readinessProbe:
        httpGet:
          path: /health
          port: http
        initialDelaySeconds: 10
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  restartPolicy: Always
  {{- with .Values.podSecurityContext }}
  securityContext:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vela-controller-config
data:
  VELA_JWT_SECRET: 'secret'  # TODO jwt-secret
  VELA_ROOT_PATH: '/vela'
---
apiVersion: v1
kind: Service
metadata:
  name: vela-controller-service
spec:
  selector:
    app.kubernetes.io/name: vela-controller
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vela-controller-ingress
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .Values.host }}
      http:
        paths:
          - path: /vela
            pathType: Prefix
            backend:
              service:
                name: vela-controller-service
                port:
                  number: 8000
