apiVersion: apps/v1
kind: Deployment
metadata:
  name: vela-controller
  labels:
    app.kubernetes.io/name: vela-controller
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: vela-controller
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vela-controller
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: vela-controller
          image: simplyblock/vela-controller:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: vela-controller-config
          env:
            - name: LOGFLARE_PUBLIC_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: vela-logflare-secret
                  key: LOGFLARE_PUBLIC_ACCESS_TOKEN
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: database
                  key: superuser-username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: database
                  key: superuser-password
            - name: VELA_POSTGRES_URL
              value: 'postgresql+asyncpg://$(DB_USER):$(DB_PASSWORD)@database:5432/postgres'
            - name: VELA_DEPLOYMENT_NAMESPACE_PREFIX
              value: {{ .Release.Namespace }}
            - name: VELA_DEPLOYMENT_HOST
              value: {{ .Values.host }}
            - name: VELA_KEYCLOAK_URL
              value: 'http://auth:8080/auth/'
            - name: VELA_KEYCLOAK_CLIENT_ID
              value: 'controller'
            - name: VELA_KEYCLOAK_CLIENT_SECRET
              value: 'controller-secret'
              
          livenessProbe:
            httpGet:
              path: /health
              port: http
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vela-controller-config
data:
  VELA_JWT_SECRET: 'http://vela-auth-service:8080/auth/realms/vela/protocol/openid-connect/certs'
  VELA_ROOT_PATH: '/vela'
  VELA_PGMETA_CRYPTO_KEY: 'secret'
  VELA_GATEWAY_NAME: {{ .Values.gateway.name }}
  VELA_GATEWAY_NAMESPACE: {{ .Values.gateway.namespace }}
---
apiVersion: v1
kind: Service
metadata:
  name: vela-controller-service
spec:
  selector:
    app.kubernetes.io/name: vela-controller
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: vela-controller
spec:
  parentRefs:
    - name: {{ .Values.gateway.name }}
      namespace: {{ .Values.gateway.namespace }}
  hostnames:
    - "{{ .Values.domain }}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /vela
      backendRefs:
        - name: vela-controller-service
          namespace: {{ .Release.Namespace }}
          port: 8000
