apiVersion: stackgres.io/v1
kind: SGInstanceProfile
metadata:
  name: profile
spec:
  cpu: "1"
  memory: "1Gi"

---
apiVersion: stackgres.io/v1
kind: SGCluster
metadata:
  name: database
  labels:
    app.kubernetes.io/name: vela-db
    app.kubernetes.io/instance: vela
  annotations:
    "helm.sh/resource-policy": keep  # Protect DB from being deleted on helm uninstall
spec:
  instances: 3
  postgres:
    version: {{ .Values.postgresVersion }}
  pods:
    persistentVolume:
      size: '20Gi'
      storageClass: simplyblock-csi-sc
    scheduling:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values:
              - vela-db
          topologyKey: kubernetes.io/hostname
  sgInstanceProfile: 'profile'
  replication:
    mode: async
    role: ha-read
