apiVersion: stackgres.io/v1
kind: SGInstanceProfile
metadata:
  name: profile
spec:
  cpu: {{ .Values.database.cpu | quote }}
  memory: {{ .Values.database.memory | quote }}

---
apiVersion: stackgres.io/v1
kind: SGCluster
metadata:
  name: database
  labels:
    app.kubernetes.io/name: vela-db
    app.kubernetes.io/instance: vela
  annotations:
    "helm.sh/resource-policy": keep  # Protect DB from being deleted on helm uninstall
spec:
  instances: {{ .Values.database.replicas }}
  postgres:
    version: '{{ .Values.database.postgresVersion }}'
    extensions:
      - name: 'timescaledb_tsl'
        version: '2.24.0'
      - name: 'timescaledb_toolkit'
  configurations:
    postgres:
      postgresql.conf:
        shared_preload_libraries: pg_stat_statements, auto_explain, timescaledb
  pods:
    persistentVolume:
      size: {{ .Values.database.size | quote }}
      storageClass: simplyblock-csi-sc
    scheduling:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values:
              - vela-db
          topologyKey: kubernetes.io/hostname
  sgInstanceProfile: 'profile'
  replication:
    mode: async
    role: ha-read
