apiVersion: v1
kind: ServiceAccount
metadata:
  name: grafana-patcher
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: grafana-patcher-role
rules:
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list", "watch", "patch", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: grafana-patcher-binding
subjects:
  - kind: ServiceAccount
    name: grafana-patcher
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: grafana-patcher-role
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: batch/v1
kind: Job
metadata:
  name: grafana-patch-job
  namespace: {{ .Release.Namespace }}
spec:
  template:
    spec:
      serviceAccountName: grafana-patcher
      restartPolicy: Never
      containers:
        - name: grafana-patcher
          image: registry.suse.com/suse/kubectl:latest
          command:
            - /bin/sh
            - -c
            - |
              kubectl patch deployment simplyblock-grafana \
                -n simplyblock \
                --type=strategic \
                -p '{
                  "spec": {
                    "template": {
                      "spec": {
                        "containers": [
                          {
                            "name": "grafana",
                            "env": [
                              {"name": "GF_AUTH_JWT_ENABLED", "value": "true"},
                              {"name": "GF_AUTH_JWT_HEADER_NAME", "value": "X-JWT-Assertion"},
                              {"name": "GF_AUTH_JWT_USERNAME_CLAIM", "value": "sub"},
                              {"name": "GF_AUTH_JWT_EMAIL_CLAIM", "value": "email"},
                              {"name": "GF_AUTH_JWT_AUTO_SIGN_UP", "value": "true"},
                              {"name": "GF_USERS_ALLOW_SIGN_UP", "value": "false"},
                              {"name": "GF_AUTH_JWT_JWK_SET_URL", "value": "https://vela-auth-service.{{ .Release.Namespace }}.svc.cluster.local:8443/auth/realms/vela/protocol/openid-connect/certs"}
                            ]
                          }
                        ]
                      }
                    }
                  }
                }'
