{{- if .Values.studio.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vela-studio
  labels:
    app.kubernetes.io/name: vela-studio
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: vela-studio
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vela-studio
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: vela-studio
          image: "{{ .Values.studio.image.repository }}:{{ .Values.studio.image.tag }}"
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: vela-studio-config
          livenessProbe:
            httpGet:
              path: /
              port: http
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 20
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vela-studio-config
data:
  PLATFORM_PG_META_URL: {{ .Values.studio.env.PLATFORM_PG_META_URL | quote }}
  SUPABASE_URL: "https://{{ .Values.domain }}:{{ .Values.port }}"
  SUPABASE_ANON_KEY: {{ .Values.studio.env.SUPABASE_ANON_KEY | quote }}
  SUPABASE_SERVICE_KEY: {{ .Values.studio.env.SUPABASE_SERVICE_KEY | quote }}
  OPENAI_API_KEY: {{ .Values.studio.env.OPENAI_API_KEY | quote }}
  AUTH_JWT_SECRET: {{ .Values.studio.env.AUTH_JWT_SECRET | quote }}
  NEXTAUTH_SECRET: {{ .Values.studio.env.NEXTAUTH_SECRET | quote }}
  LOKI_URL: "http://vela-loki:3100"
  VELA_PLATFORM_KEYCLOAK_ISSUER: "https://{{ .Values.domain }}:{{ .Values.port }}/auth/realms/vela"
  VELA_PLATFORM_KEYCLOAK_CLIENT_ID: {{ .Values.studio.env.VELA_PLATFORM_KEYCLOAK_CLIENT_ID | quote }}
  VELA_PLATFORM_KEYCLOAK_CLIENT_SECRET: {{ .Values.studio.env.VELA_PLATFORM_KEYCLOAK_CLIENT_SECRET | quote }}
  VELA_PLATFORM_KEYCLOAK_AUTHORIZATION_ENDPOINT: "https://{{ .Values.domain }}:{{ .Values.port }}/auth/realms/vela/protocol/openid-connect/auth"
  VELA_PLATFORM_KEYCLOAK_TOKEN_ENDPOINT: "http://vela-auth-service:8080/auth/realms/vela/protocol/openid-connect/token"
  VELA_PLATFORM_KEYCLOAK_USERINFO_ENDPOINT: "http://vela-auth-service:8080/auth/realms/vela/protocol/openid-connect/userinfo"
  VELA_PLATFORM_KEYCLOAK_LOGOUT_ENDPOINT: "http://vela-auth-service:8080/auth/protocol/openid-connect/logout"
  VELA_PLATFORM_KEYCLOAK_JWKS_ENDPOINT: "http://vela-auth-service:8080/auth/realms/vela/protocol/openid-connect/certs"
  VELA_PLATFORM_EXT_SIGN_IN_URL: "https://{{ .Values.domain }}:{{ .Values.port }}/sign-in"
  VELA_PLATFORM_EXT_BASE_URL: "https://{{ .Values.domain }}:{{ .Values.port }}/"
  NEXTAUTH_URL: "https://{{ .Values.domain }}:{{ .Values.port }}"
  VELA_PLATFORM_EXT_API_SERVICE_URL: "https://{{ .Values.domain }}:{{ .Values.port }}/api"
  VELA_PLATFORM_URL: "http://vela-controller-service:8000"
---
apiVersion: v1
kind: Service
metadata:
  name: vela-studio-service
spec:
  selector:
    app.kubernetes.io/name: vela-studio
  ports:
    - name: vela-studio-http
      port: 3000
      targetPort: 3000
      protocol: TCP

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: vela-studio
spec:
  parentRefs:
    - name: {{ .Values.gateway.name }}
      namespace: {{ .Values.gateway.namespace }}
  hostnames:
    - "{{ .Values.domain }}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: vela-studio-service
          namespace: {{ .Release.Namespace }}
          port: 3000
{{- end }}
