apiVersion: apps/v1
kind: Deployment
metadata:
  name: vela-studio
  labels:
    app.kubernetes.io/name: vela-studio
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: vela-studio
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vela-studio
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: vela-studio
          image: simplyblock/vela-studio:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: vela-studio-config
          livenessProbe:
            httpGet:
              path: /api/healthz
              port: http
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/healthz
              port: http
            initialDelaySeconds: 20
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vela-studio-config
data:
{{- range $key, $value := $env }}
  {{ $key }}: {{ $value | quote }}
{{- end }}
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: vela-studio-service
spec:
  selector:
    app.kubernetes.io/name: vela-studio
  ports:
    - name: vela-studio-http
      port: 3000
      targetPort: 3000
      protocol: TCP

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: vela-studio
spec:
  parentRefs:
    - name: {{ .Values.gateway.name }}
      namespace: {{ .Values.gateway.namespace }}
  hostnames:
    - "{{ .Values.domain }}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: vela-studio-service
          namespace: {{ .Release.Namespace }}
          port: 3000
