{{- if .Values.storage.enabled }}
{{- $dbPassword := required "Values.secret.db.password is required for the storage service" .Values.secret.db.password -}}
{{- $dbHost := include "vela.db.serviceHostname" . -}}
{{- $dbPort := printf "%v" (.Values.storage.environment.DB_PORT | default 5432) -}}
{{- $dbName := .Values.storage.environment.DB_NAME | default "postgres" -}}
{{- $dbUser := .Values.storage.environment.DB_USER | default "vela_storage_admin" -}}
{{- $dbSSL := .Values.storage.environment.DB_SSL | default "disable" -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vela.storage.secretName" . }}
  labels:
    {{- include "vela.labels" . | nindent 4 }}
    app.kubernetes.io/component: storage
type: Opaque
stringData:
  DATABASE_URL: {{ printf "postgres://%s:%s@%s:%s/%s?sslmode=%s" $dbUser (urlquery $dbPassword) $dbHost $dbPort $dbName $dbSSL | quote }}
{{- end }}
