apiVersion: v1
kind: Pod
metadata:
  name: vela-controller
  namespace: vela-services
  labels:
    app.kubernetes.io/name: vela-controller
spec:
  containers:
    - name: vela-controller
      image: simplyblock/vela-controller:latest
      imagePullPolicy: Always
      ports:
        - name: http
          containerPort: 8000
          protocol: TCP
      envFrom:
        - configMapRef:
            name: vela-controller-config
      livenessProbe:
        httpGet:
          path: /health
          port: http
        periodSeconds: 5
        timeoutSeconds: 5
        failureThreshold: 3
      readinessProbe:
        httpGet:
          path: /health
          port: http
        initialDelaySeconds: 10
  restartPolicy: Always
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vela-controller-config
  namespace: vela-services
data:
  VELA_POSTGRES_URL: 'postgresql+asyncpg://postgres:6c65-a169-493a-afb@database.stackgres:5432/postgres'
  VELA_JWT_SECRET: 'secret'  # TODO
  VELA_ROOT_PATH: '/vela'
---
apiVersion: v1
kind: Service
metadata:
  name: vela-controller-service
  namespace: vela-services
spec:
  selector:
    app.kubernetes.io/name: vela-controller
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vela-controller-ingress
  namespace: vela-services
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /vela/(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: vela-controller-service
                port:
                  number: 8000
