{{- if .Values.db.enabled }}
{{- $saName := printf "%s-vm-config-reader" (include "vela.db.fullname" .) }}
{{- $roleName := printf "%s-vm-configmap-reader" (include "vela.db.fullname" .) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $saName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vela.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ $roleName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vela.labels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ printf "%s-binding" $roleName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vela.labels" . | nindent 4 }}
subjects:
- kind: ServiceAccount
  name: {{ $saName }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ $roleName }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
