{{- if .Values.rest.enabled }}
{{- $root := . -}}
{{- $envDefaults := dict "DB_HOST" (include "vela.db.serviceHostname" .) "DB_PORT" (printf "%v" (.Values.rest.environment.DB_PORT | default 5432)) "DB_NAME" (.Values.rest.environment.DB_NAME | default "postgres") "DB_SSL" (.Values.rest.environment.DB_SSL | default "disable") "DB_USER" (.Values.rest.environment.DB_USER | default "authenticator") -}}
{{- $envOverrides := .Values.rest.environment | default (dict) -}}
{{- $env := merge $envDefaults $envOverrides -}}
{{- $dbPassword := required "Values.secret.db.password is required for the rest service" .Values.secret.db.password -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vela.rest.secretName" . }}
  labels:
    {{- include "vela.labels" . | nindent 4 }}
    app.kubernetes.io/component: rest
type: Opaque
stringData:
  PGRST_DB_URI: {{ printf "postgres://%s:%s@%s:%s/%s?sslmode=%s" ($env.DB_USER | toString) (urlquery $dbPassword) ($env.DB_HOST | toString) ($env.DB_PORT | toString) ($env.DB_NAME | toString) ($env.DB_SSL | toString) | quote }}
{{- end }}
