{{- if .Values.db.enabled -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "supabase.db.fullname" . }}-cloudinit-userdata
type: Opaque
stringData:  
  userdata: |
    #cloud-config
    hostname: supabase-db2
    password: ubuntu
    chpasswd: { expire: false }
    write_files:
      - path: /usr/local/bin/resize-postgres-volume.sh
        owner: root:root
        permissions: '0755'
        content: |
          #!/bin/sh
          set -eu

          DEVICE="/dev/sda"

          RESIZE2FS_BIN=$(command -v resize2fs 2>/dev/null || true)
          if [ -z "${RESIZE2FS_BIN}" ]; then
            RESIZE2FS_BIN="/sbin/resize2fs"
          fi

          if [ ! -x "${RESIZE2FS_BIN}" ]; then
            echo "resize2fs binary not found" >&2
            exit 0
          fi

          "${RESIZE2FS_BIN}" "${DEVICE}"
      - path: /usr/local/bin/resize-postgres-volume-cron.sh
        owner: root:root
        permissions: '0755'
        content: |
          #!/bin/sh
          set -eu

          # run resize every 5 secs
          for run in $(seq 1 12); do
            /usr/local/bin/resize-postgres-volume.sh || true
            if [ "${run}" -lt 12 ]; then
              sleep 5
            fi
          done
      - path: /etc/crontabs/root
        owner: root:root
        permissions: '0644'
        content: |
          SHELL=/bin/sh
          PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
          * * * * * /usr/local/bin/resize-postgres-volume-cron.sh >> /var/log/auto-resizefs.log 2>&1
    runcmd:
      - mkdir -p /mnt/postgres_data
      - echo "Setting up PostgreSQL data directory..."
      - |
        if ! blkid /dev/sda; then
          mkfs.ext4 /dev/sda
        fi
      - mount /dev/sda /mnt/postgres_data
      - mkdir -p /mnt/postgres_data/pgdata
      - chown -R 999:999 /mnt/postgres_data/pgdata
      - chmod 700 /mnt/postgres_data/pgdata

      - podman create --name temp-supabase supabase/postgres:15.1.0.147
      - podman cp temp-supabase:/docker-entrypoint-initdb.d /
      - podman rm temp-supabase

      - mkdir -p /custom-init-scripts && mount /dev/vdb /custom-init-scripts
      - mkdir -p /custom-migrations && mount /dev/vdc /custom-migrations
      - mkdir -p /secrets && mount /dev/vdd /secrets

      - cp /custom-init-scripts/98-webhooks.sql /docker-entrypoint-initdb.d/init-scripts/
      - cp /custom-init-scripts/99-roles.sql /docker-entrypoint-initdb.d/init-scripts/
      - cp /custom-init-scripts/99-create-admin-user.sql /docker-entrypoint-initdb.d/init-scripts/

      - cp /custom-init-scripts/99-logs.sql /docker-entrypoint-initdb.d/migrations/
      - cp /custom-init-scripts/99-realtime.sql /docker-entrypoint-initdb.d/migrations/
      - ADMIN_DB=$(cat /secrets/admindb)
      - ADMIN_USER=$(cat /secrets/adminusername)
      - ADMIN_PASSWORD=$(cat /secrets/adminpassword)
      - DB_PASSWORD=$(cat /secrets/password)

      - |-
        podman run -d \
            -v /mnt/postgres_data/pgdata:/var/lib/postgresql/data \
            -v /docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d \
            -p 5432:5432 \
            -p 9999:9999 \
            -e JWT_SECRET=your_jwt_secret \
            -e ADMIN_USER=$ADMIN_USER \
            -e ADMIN_DB=$ADMIN_DB \
            -e POSTGRES_PASSWORD=$DB_PASSWORD \
            -e ADMIN_PASSWORD=$ADMIN_PASSWORD \
            -e JWT_EXP=3600 \
            --restart always \
            docker.io/supabase/postgres:15.1.0.147
      
      - podman ps -a
      - rc-update add crond default || true
      - rc-service crond restart || true
{{- end }}
