{{- if .Values.db.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "supabase.db.fullname" . }}
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
spec:
  type: {{ .Values.db.service.type }}
  {{- with .Values.db.service.ipFamilies }}
  ipFamilies:
{{ toYaml . | indent 4 }}
  {{- end }}
  {{- with .Values.db.service.ipFamilyPolicy }}
  ipFamilyPolicy: {{ . }}
  {{- end }}
  ports:
    - port: {{ .Values.db.service.port }}
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    vm.kubevirt.io/name: {{ include "supabase.db.fullname" . }}
{{- end }}
