{{- if .Values.db.enabled -}}
{{- $dbFullname := include "supabase.db.fullname" . -}}
{{- $serviceCfg := .Values.db.service | default (dict) -}}
{{- $externalSvcEnabled := true -}}
{{- if hasKey $serviceCfg "externalEnabled" }}
{{- $externalSvcEnabled = (index $serviceCfg "externalEnabled") -}}
{{- end }}
{{- $lbIpFamilies := (index $serviceCfg "ipFamilies") | default (list "IPv6") -}}
{{- $lbIpPolicy := (index $serviceCfg "ipFamilyPolicy") | default "SingleStack" -}}
{{- $clusterCfg := (index $serviceCfg "clusterIP") | default (dict) -}}
{{- $clusterIpFamilies := (index $clusterCfg "ipFamilies") | default (list "IPv4") -}}
{{- $clusterIpPolicy := (index $clusterCfg "ipFamilyPolicy") | default "SingleStack" -}}
{{- if $externalSvcEnabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-ext" $dbFullname }}
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
spec:
  type: {{ .Values.db.service.type }}
  {{- if $lbIpFamilies }}
  ipFamilies:
{{ toYaml $lbIpFamilies | indent 4 }}
  {{- end }}
  ipFamilyPolicy: {{ $lbIpPolicy }}
  ports:
    - port: {{ .Values.db.service.port }}
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    vm.kubevirt.io/name: {{ $dbFullname }}
---
{{- end }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $dbFullname }}
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  {{- if $clusterIpFamilies }}
  ipFamilies:
{{ toYaml $clusterIpFamilies | indent 4 }}
  {{- end }}
  ipFamilyPolicy: {{ $clusterIpPolicy }}
  ports:
    - port: {{ .Values.db.service.port }}
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    vm.kubevirt.io/name: {{ $dbFullname }}
{{- end }}
