name: Check project

on:
  push:
    branches: ['main']
  pull_request:

jobs:
  lint:
    name: Linter
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        cache: 'pip'

    - name: Install linter
      run: pip install ruff

    - name: Execute linter
      run: ruff check


  type-check:
    name: Type checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        cache: 'pip'

    - name: Install type checker
      run: pip install mypy .

    - name: Execute type checker
      run: mypy src


  build:
    name: Build image
    runs-on: ubuntu-latest
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        file: containers/Containerfile
        push: true
        tags: ghcr.io/${{ github.repository }}/api:${{ github.sha }}
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        cache-from: type=gha
        cache-to: type=gha,mode=max


  test:
    name: API tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DATABASE: database
      api:
        image: ghcr.io/${{ github.repository }}/api:${{ github.sha }}
        env:
          POSTGRES_URL: postgresql://user:password@postgres:5432/database
        ports:
          - 8000:8000

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Test API
      uses: schemathesis/action@v2
      with:
        schema: http://api:8000/openapi.json
