name: Test deployment

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Deployment
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install chart
      run: >
        helm install
        --namespace ${{ github.head_ref }} --create-namespace
        ${{ github.event.repository.name }} chart

    - name: Cleanup
      if: success() || failure()
      run: kubectl delete namespace ${{ github.head_ref }}
