name: Publish image

on:
  push:
    branches: ['main', 'stable']

jobs:
  build-and-push:
    name: Build and publish image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Log in to Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Set image metadata
      id: meta
      run: |
        SHORT_SHA="${GITHUB_SHA::7}"
        IMAGE_TAG="latest-${SHORT_SHA}"
        echo "short_sha=$SHORT_SHA" >> "$GITHUB_OUTPUT"
        echo "image_tag=$IMAGE_TAG" >> "$GITHUB_OUTPUT"

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: containers/Containerfile
        push: true
        tags: |
          ${{ vars.REGISTRY }}/simplyblock/vela-controller:latest
          ${{ vars.REGISTRY }}/simplyblock/vela-controller:${{ steps.meta.outputs.image_tag }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
        build-args: |
          GIT_COMMIT_SHA=${{ github.sha }}
          GIT_COMMIT_TIMESTAMP=${{ github.event.head_commit.timestamp || github.run_started_at }}
