name: Publish image

on:
  push:
    branches: ['main']

jobs:
  build-and-push:
    name: Build and publish image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Log in to Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}


    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: containers/Containerfile
        push: true
        tags: ghcr.io/simplyblock/vela:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
